*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.contener{
    top: 40%;
    left: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 256px;
    text-align: center;
    border: 10px solid rebeccapurple;
    background-color: rebeccapurple;
    border-radius: 5px;
}


.keybord{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.cl_inp1{
    height: 75px;
    width: 250px;
    background-color: rebeccapurple;
    border: 0px;
    color: antiquewhite;
    outline: none;
    font-size: 25px;
    text-align: right;
    font-weight: 500;
}

#clear{
    grid-column: 1/3;
    grid-row: 1;
    color: royalblue;
}

#result{
    grid-column: 3/5;
    grid-row: 5;
    color: royalblue;
}

.btn{
    position: absolute;
    top: 27%;
    left: 256%;
    border: none;
    padding: 25px;
    text-align: center;
    width: 300px;
    color: blue;
    cursor: pointer;
}

.show{
    position: absolute;
     top: 86%;
    left: 256%;
    width: 400px;
    border: 3px solid black;
    height: 250px;
    box-shadow: 5px 10px 5px 10px #888888;
}

.cl_inp2{
    width: 265px;
    height: 31px;
    outline: none;
    font-size: 25px;
    text-align: left;
    font-weight: 500;
    margin-top: 49px;
}